<template id="Contracts-Listing-Template">
    <div>
        <!--pops up modal-->
        <printdocument-modal v-if="ShowDocumentModal"
                             v-on:close="ShowDocumentModal = false"
                             v-bind:docnames="DocumentNames"
                             v-bind:contractid="ShowDocumentForId">
        </printdocument-modal>
        <newcontract-modal v-if="ShowAddContractModal"
                           v-on:close="ShowAddContractModal = false">
        </newcontract-modal>
        <upload-modal v-if="ShowUploadModal"
                      v-on:close="OnCloseUploadModal"
                      v-bind:contractid="UploadToContractId">
        </upload-modal>
        <!--search bar-->
        @Html.Partial("_SearchBar")
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><h4>#</h4></td>
                    <td><h4>Name</h4></td>
                    <td><h4>Address</h4></td>
                    <td><h4>Tax Id</h4></td>
                    <td><h4>Commision</h4></td>
                    <td><h4>Scanned</h4></td>
                    <td><h4>Effective</h4></td>
                    <td><h4>Added By</h4></td>
                    <td><h4>Document</h4></td>
                </tr>
            </thead>
            <tbody>
                @*how to click row*@
                @*<tr v-for="contract in Contracts" class="row" v-on:click="DataRowClicked(contract)">*@
                <tr v-for="contract in ContractModels" >
                    <td>{{ contract.ContractId }}</td>
                    <td>{{ contract.Name }}</td>
                    <td>{{ contract.Address }}</td>
                    <td>{{ contract.TaxId }}</td>
                    <td>{{ contract.Commission }}</td>
                    <td>
                        <div v-if="contract.ScannedContractUrl == null">
                            @*upload scan button*@
                            <button v-on:click="ShowUploadModalHandler(contract.ContractId)" class="btn-link">
                                <span class="glyphicon glyphicon-arrow-up"></span> 
                            </button>
                        </div>
                        @*show scan button*@ 
                        <div v-else>
                            <button v-on:click="OpenNewScanPage(contract.ContractId)" class="btn-link">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="text-success" v-if=contract.Effective>Yes</div>
                        <div class="text-danger" v-else>No</div>
                    </td>
                    <td>{{ contract.Username }}</td>
                    <td>
                        @*show document selector modal*@
                        <button v-on:click="PrinDocumentModalHandler(contract.ContractId)" class="btn-link">
                            <span class="glyphicon glyphicon-print"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        @*pagination*@
        <div class="row">
                <ul class="pagination pagination-sm">
                    @*goes to first*@
                    <li v-if="OnPage == 1" class="disabled">
                        <button class="btn btn-default" disabled="">&laquo;</button>
                        </li>
                    <li v-else>
                        <button class="btn btn-default" type="button" v-on:click="PageNavClicked(1)">&laquo;</button>
                    </li>
                    @*page number*@
                    <li  v-for="index in TotalPages">
                        @*<router-link v-bind:to="GetSearchQueryRoute">{{index}}</router-link>*@
                        <button v-bind:class="[index == OnPage ? 'btn btn-primary' : 'btn btn-default']" 
                                type="button" 
                                v-on:click="PageNavClicked(index)">
                            {{index}}
                        </button>
                    </li>
                    @*goes to last*@
                    <li v-if="OnPage == TotalPages" class="disabled">
                        <button class="btn btn-default" disabled="">&raquo;</button>
                    </li>
                    <li v-else>
                        <button class="btn btn-default" type="button" v-on:click="PageNavClicked(TotalPages)">&raquo;</button>
                    </li>
                </ul>
        </div>
        <div class="row">
            <div><span>Total Records: {{TotalRows}}</span></div>
        </div>
    </div>
</template>
