<template id="Contracts-Listing-Template">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><h4>#</h4></td>
                    <td><h4>Name</h4></td>
                    <td><h4>Address</h4></td>
                    <td><h4>Commision</h4></td>
                    <td><h4>Scanned</h4></td>
                    <td><h4>Effective</h4></td>
                    <td><h4>Added By</h4></td>
                    <td><h4>Document</h4></td>
                </tr>
            </thead>
            <tbody>
                @*how to click row*@
                @*<tr v-for="contract in Contracts" class="row" v-on:click="DataRowClicked(contract)">*@
                <tr v-for="contract in contracts" >
                    <td>{{ contract.ContractId }}</td>
                    <td>{{ contract.Name }}</td>
                    <td>{{ contract.Address }}</td>
                    <td>{{ contract.Commission }}</td>
                    <td>
                        <div v-if="contract.ScannedContractUrl == null">
                            @*upload scan button*@
                            <button v-on:click="UploadContractClicked(contract.ContractId)" class="btn-link">
                                <span class="glyphicon glyphicon-arrow-up"></span> 
                            </button>
                        </div>
                        @*show scan button*@ 
                        <div v-else>
                            <button v-on:click="OpenScanPdfClicked(contract.ContractId)" class="btn-link">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="text-success" v-if=contract.Effective>Yes</div>
                        <div class="text-danger" v-else>No</div>
                    </td>
                    <td>{{ contract.Username }}</td>
                    <td>
                        @*show document selector modal*@
                        <button v-on:click="PrintDocumentClicked(contract.ContractId)" class="btn-link">
                            <span class="glyphicon glyphicon-print"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        @*pagination*@
        <div class="row">
                <ul class="pagination pagination-sm">
                    @*goes to first*@
                    <li v-if="currentpage == 1" class="disabled">
                        <button class="btn btn-default" disabled="">&laquo;</button>
                        </li>
                    <li v-else>
                        <button class="btn btn-default" type="button" v-on:click="ChangePageClicked(1)">&laquo;</button>
                    </li>
                    @*page number*@
                    <li  v-for="index in totalpages">
                        @*<router-link v-bind:to="GetSearchQueryRoute">{{index}}</router-link>*@
                        <button v-bind:class="[index == currentpage ? 'btn btn-primary' : 'btn btn-default']" 
                                type="button" 
                                v-on:click="ChangePageClicked(index)">
                            {{index}}
                        </button>
                    </li>
                    @*goes to last*@
                    <li v-if="currentpage == totalpages" class="disabled">
                        <button class="btn btn-default" disabled="">&raquo;</button>
                    </li>
                    <li v-else>
                        <button class="btn btn-default" type="button" v-on:click="ChangePageClicked(totalpages)">&raquo;</button>
                    </li>
                </ul>
        </div>
        <div class="row">
            <div><span>Total Records: {{totalrows}}</span></div>
        </div>
    </div>
</template>
