<script type="text/x-template" id="printdocument-modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container-sm">
                    <div>
                        <h4>Document Printing</h4>
                    </div>
                    <div class="modal-body">
                        <label for="select" class="pull-left">Select document type:</label>
                        <select v-model="SelectedDoc" name="select" class="form-control">
                            <option v-for="name in docnames">{{name}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" v-bind:disabled="SelectedDoc == ''" v-on:click="OpenPrintPage">
                            Print
                        </button>
                        <button class="btn btn-default"v-on:click="$emit('close')">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>